server:
    port: 8080
    use-forward-headers: true
    session:
        cookie:
            http-only: true
    contextPath: /fhir
    tomcat:
      max-threads: 600

spring:
  application:
    name: fhir
    uri: http://canehealth.com/fhirform/
    demap: http://hl7.org/fhir/StructureDefinition/questionnaire-deMap
  thymeleaf:
    prefix: classpath:/WEB-INF/templates/
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.jdbc.batch_size: 20
      hibernate.cache.use_query_cache: false
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_structured_entries: false
      hibernate.cache.use_minimal_puts: false
      hibernate.search.default.directory_provider: filesystem
      hibernate.search.default.indexBase: target/lucenefiles
      hibernate.search.lucene_version: LUCENE_CURRENT
      hibernate.search.model_mapping: ca.uhn.fhir.jpa.search.LuceneSearchMappingFactory

  h2:
    console:
      enabled: true
hapi:
  fhir:
    version: dstu3
    server:
      path: /fhir/*
    rest:
      server-name: fhirql-server-jpa
      server-version: 1.0.0
      implementation-description: Spring Boot FhirQL Server
      default-response-encoding: json
      e-tag-support: enabled
      default-pretty-print: true
    validation:
      enabled: true
      request-only: true
    jpa:
      scheduling-disabled: true
      subscription-enabled: false
management:
  security:
    enabled: false

app:
    localUrls:
           - http://fhirtest.uhn.ca/baseDstu3
           - http://sdk.canehealth.com/fhir/fhir/baseDstu3
    data:
        feed_on_start: true
        headers:
             ODA-INSTANCE-ID: oda.medidemo.fi
        # NOTE: keep the resources in order!
        # The resources have references to one another.
        # Add new resources to the end of the list.

        resources:
          - file: datasets/questionnaires/test-ques-1.json